<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Title</title>
    <link rel="stylesheet" href="../css/Root.css">
  </head>
<body>
  <div class="container">
    <h1>Welcome to the best typinggame you will ever play :)</h1> <br>
  </div>
  <div class="container">
  <p> This is a small typing game made using GO and WEB. To save your score <br>
      you can register a user and your top score in different modes will be saved <br>
      on a global leaderboard!</p>
  </div>
  <div class="container">
  <form action="/game" method="GET">
    <button type = "submit" class="button"> Start game </button>
  </form>
  </div>
</body> 
</html>
