<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/Root.css">
  </head>
    <body>
        <h1>Login:  </h1>
        <div class="container">
          <form action="/login">
            <b> Username: </b> <br>
            <input type="text" name="Username" placeholder="Username:"><br>
            <b> Password: </b> <br>
            <input type="text" name="Password" placeholder="Password:"><br>
            <br>
            <button class="button" type="submit">Login</button>
          </form>
        </div>
    </body>
</html>
